html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url("../../public/images/background5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.interface {
    flex-basis: 65%;
    margin: 0 auto;
    background-color: #51557E;
    height: 80%;
    position: relative;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: black;
    text-align: center;
    font-size: 48px;
    font-family: Bruce Forever;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: #5f1515;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-family: Bruce Forever;
}

.button:hover {
    transform: translateY(-5px);
    background-color: #cc4949;
    color: #FFFFFF;
    cursor: pointer;
}